/* /*
Project Name: Cooking with Nan
Author: Katie Sealy
Developer @GA in SYD
*/


/******************************************
/* SETUP
/*******************************************/

@font-face {
    font-family: Laatz;
    src: url("../assets/Nicky Laatz  - White Oleander.ttf") format("truetype");
}

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  .alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
  }
  
  .alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
  }
  
/******************************************
/* BASE STYLES
/*******************************************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 400;
    color:#636363;
    background: rgb(245, 245, 239);
    -webkit-font-smoothing: antialiased;
    /* background-color: #e8e7e7; */
}

p {
    padding-bottom: 10px;
}

br {
    padding-bottom: 20px;
}

h1 {
    font-size: 2.4em;
    line-height: 1.1;
    color: #4a4a4a;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 20px;
    color: #b6aa82;
    padding-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #636363;
    line-height: 1.5;    
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.3;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #c0b592;
    letter-spacing: 0.75;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/******************************************
/* NAV MENU
/*******************************************/

header {
    width: 80%;
    margin: auto;
    overflow: hidden;
  } 

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }


header nav ul li {
    margin: 0 0 0 40px;
    font-size: 24px;
    padding: 10px;
    padding-top: 20px;
    list-style-type: none;
  }

header nav ul li a {
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.065em;
  }

/* Style the navbar */
#navbar {
    overflow: hidden;
    padding-top: 20px;
    /* margin-top: 15px; */
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .sticky-background-show {
    background-color: rgba(36, 35, 35, 0.9);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
  }

  .sticky-background-hide {
      background-color: transparent;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 2s;
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: rgba(0, 0, 0, 0)}
    to {background-color:  rgba(36, 35, 35, 0.9)}
}

/* Standard syntax */
@keyframes example {
    from {background-color: rgba(0, 0, 0, 0)}
    to {background-color:  rgba(36, 35, 35, 0.9)}
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

header h1 {
    color: white;
    font-size: 32px;
    padding-top: 15px;
    float: left;
    font-weight: 300;
}

header a:hover {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

header a:link {
    text-decoration: none;
    color: none;
    /* color: white; */
}

header a:visited {
    text-decoration: none;
    color: none;
    /* color: white; */
}

header nav a:visited {
    text-decoration: none;
    color: none;
    /* color: white; */
}

#home-hero button a:visited {
    color: white;
}

footer a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.065em;
}

/******************************************
/* INDEX
/*******************************************/

.header-container {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#home-container {
    display: flex;
    flex-direction: column;
    height: 1050px;
    text-align: center;
    background-image: url(../images/hero-home2.jpg);
    background-size: 110%;
    background-position: center top;
    background-repeat: no-repeat; 
    background-size: cover;
}

#home-container #home-hero {
    padding-top: 140px;
    align-items: center;
}

#home-hero {
    padding-top: 40px;
    align-items: center;
}

#home-hero h1 {
    font-family: Laatz;
    font-size: 180px;
    color: white;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

#home-hero h2 {
    color: white;
    font-weight: 200;
    margin-top: -50px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 2px 2px 16px black;
}

#home-hero button {
    margin: 25px;
    height: 60px;
    width: 280px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.065em;
}

i {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}


#main-content {
    display: flex;
    margin: auto;
}

#filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    width: 77%;
    margin: auto;
}

#filter button {
    align-items: flex-end;
    height: 60px;
    width: 240px;
    font-family:'Montserrat';
    background-color: transparent;
    font-size: 20px;
    border-radius: 0px;
    color: #807f7f;
    border-color: lightgray;
}

#filter button:hover {
    background-color: #c0b592;
    transition: .5s ease;
    font-weight: 400;
    color: white;
}

.dropdown-item {
    color: #636363;
}

#recipies {
    width: 80%;
    margin: auto;
}

.recipies-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    margin: 10px;
    display: flex;
    width: 31%;
    flex-direction: column;
    background-color: white;
    transition: box-shadow .3s;
    transition: all .5s ease;
    text-decoration: none;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

article a:link{
    text-decoration: none;
    color: white;
}

article:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
  }    
   
#content {
    padding: 0 25px 0 25px;
}    

article button {
    align-items: flex-end;
    height: 50px;
    width: 200px;
    background-color: transparent;
    color: #807f7f;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: none;
}

article button:hover {
    background-color: #c0b592;
    transition: .5s ease;
    font-weight: 400;
    color: white;
}

article button a:hover {
    color: white;
    font-weight: normal;
    transition: .5s ease;
}

.text-container {
    padding: 5px 20px 5px 20px;
}

#chocolate {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-chocolate.jpg);
  }


#datewalnut {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-datewalnut.jpg);
}

#coconut {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-coconut.jpg);
}

#applepie {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-applepie.jpg);
}

#ricecustard {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-rice.jpg);
}

#applesponge {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-applesponge.jpg);
}

#buttercake {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-butter.jpg);
}

#scones{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-scones.jpg);
}

#fruitcake{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-wedding.jpg);
}

#pancakes {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-pancakes.jpg);
}

#marmelaide {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-marmelaide.jpg);
}

#grapefruit {
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-grapefruit.jpg);
}

#potato{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-potato.jpg);
}

#colslaw{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-coleslaw.jpg);
}

#chicken{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-chicken.jpg);
}

#fish{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-fish.jpg);
}

#roast{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-roast.jpg);
}

#tomato{
    height: 280px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
    background-image: url(../images/thumbnail-tomato.jpg);
}

.sweet-tag {
    width: 70px;
    height: 33px;
    background-color: #be0d00;
    position: absolute;
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 3px;
}

.savory-tag {
    width: 70px;
    height: 33px;
    background-color: #f7a40a;
    position: absolute;
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 3px;
}

/* .DateWalnut{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.RiceCustard{
    background-image: url(../images/thumbnail-rice.jpg);
    background-size: 100%;
}

.CoconutSlice{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}
.AppleSponge{
    background-image: url(../images/thumbnail-applesponge.jpg);
    background-size: 100%;
}

.ApplePie{
    background-image: url(../images/thumbnail-applepie.jpg);
    background-size: 100%;
}

.ButterCake{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.Scones{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.FruitCake{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.PotatoSalad{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.Colslaw{
    background-image: url(../images/thumbnail-coleslaw.jpg);
    background-size: 130%;
}

.CrumbedChicken{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.FishCakes{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.RoastGravey{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
}

.TomatoRolls{
    background-image: url(../images/thumbnail-datewalnut.jpg);
    background-size: 130%;
} */


/******************************************
/* INDIVIDUAL RECIPIES CONTAINER
/*******************************************/
/* HERO IMAGE */
.container {
    margin: 0 auto;
  } 

.hero-chocolate{
    display: flex;
    flex-direction: column;
    height: 700px;
    background-image: url(../images/recipie-chocolate.jpg);
    background-color: #292929;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }

.hero-text {
    margin: auto;
    display: flex;
    flex-grow: 0.8;
    margin-left: 10%;
    align-items: flex-end;
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: "montserrat";
}  

#home-hero {
    margin-top: auto;
    margin-bottom: auto;
    align-items: flex-end;
    align-content: flex-end;
}  

#main .container{
    width: 100%;
    background-color: #f7f6f4;
    display: flex;
    flex-direction: row;
}

#method {
    width: 60%;
    padding-left: 10%;
    padding-top: 30px;
    background-color: white;
    padding-right: 50px;
}

#ingredients {
    flex-direction: column-reverse;
    width: 40%;
    padding-left: 100px;
    padding-top: 30px;
}

#ingredients li {
    list-style-type: none;
}

li {
    display: list-item;
    list-style-position: inside;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top: 5px;
  }

#quote {
    display: flex;
    margin: auto;
    width: 100%;
    background-color: #c0b592;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}  

#quote p {
    font-weight: 600;
}

#quote h3 {
    padding-top: 0px;
}

.content {
    width: 50%;
    justify-content: center;
    text-align: center;
}  

#quote h3 {
    color: white;
}

#quote p {
    color: white;
}
/******************************************
/* ABOUT PAGE
/*******************************************/
#about-container {
    display: flex;
    flex-direction: column;
    height: 1050px;
    text-align: center;
    background-image: url(../images/hero-about.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#about {
    background-color: white;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 95%;
    justify-items: flex-end;
}

#about h2 {
    font-weight: bold;
}

hr {
    display: inline-block;
    height: 7px;
    width: 50px;
    border-radius: 5px;
    background-color: #c0b592;
    align-content: flex-start;
    margin-bottom: 20px;
}


.row1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    flex-direction: row;
}

.row1 #left-img {
    text-align: center;
    margin-top: 80px;
}

.row2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: flex-end;
}

.row3 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.row4 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.row5 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
    margin-top: 50px;
    margin-bottom: 50px; 
}

.row6 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 50px;
    margin-bottom: 50px;  
}

.row6 #left-img {
    text-align: center;
    margin-top: -100px;
}

#left-img {
    width: 50%;
    align-items: center;
    justify-items: flex-start;
}

#row1 #left-img {
    text-align: center;
}

#right-img {
    width: 50%;
    text-align: right;
}

#right-text {
    padding-left: 20px;
    padding-right: 15%;
    width: 50%;
}

#left-text {
    padding-left: 12%;
    padding-right: 5%;
    width: 50%;
}

/* .row2 #left-text {
    width: 40%;
    
} */

/******************************************
/* CONTACT PAGE
/*******************************************/
#contact-container {
    display: flex;
    flex-direction: column;
    height: 680px;
    text-align: center;
    background-image: url(../images/hero-contact7.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

#contact-content {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 40px;
}

#contact-content button {
    align-items: flex-end;
    height: 50px;
    width: 200px;
    font-family:'Montserrat';
    font-weight: 400;
    background-color: transparent;
    color: #807f7f;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: none;
}

#contact-content h2 {
    font-weight: bold;
    padding: 0px;
}

/* button a:hover {
    font-weight: 500;
} */

#contact-content button:hover {
    background-color: #c0b592;
    transition: .5s ease;
    font-weight: 400;
    color: white;
}

#contact-content button a:hover {
    color: white;
    font-weight: normal;
    transition: .5s ease;
}

.content {
    width: 80%;
    flex-direction: row;
}

.icon {
    width: 2%;
    float: left;
    color: white;
    display: flex;
}

.message {
    width: 95%;
    float: right;
}

/******************************************
/* FOOTER
/*******************************************/

#footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#footer-logo {
    margin: auto;
    height: 200px;
    padding-top: 30px;
    background-color: #322e30;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Laatz;
    font-size: 70px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

#footer-links {
    height: 80px;
    background-color: #252225;
    text-align: center;
    font-weight: 200;
    color: lightgrey;
    font-weight: 200;
    font-size: 18px;
}

#footer-links ul {
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
}

/******************************************
/* HAMBURGER MENU
/*******************************************/

header nav .line{
    width: 2em;
    height: .3em;
    background: white;
    border-radius: 0.5em;
    margin-top: .25em;
  }
  
  header nav .line:first-of-type{
    margin-top:2em;
  }
  
  header nav li:first-child{
    float:right;
    display: none;
    cursor: pointer;
  }

/******************************************
/* RESPONSIVE
/*******************************************/
@media (max-width: 1100px) {

    header {
        width: 95%;
        margin: auto;
      }
      
    header h1 {
        color: white;
        font-size: 25px;
        margin-top: -20px;
        float: left;
        font-weight: 400;
    }  

    header nav {
        width: 100%;
        margin: 0;
      }
    
    header nav ul li{
        float: none;
        display: block;
        margin: 0;
        font-size: 18px;
      }
    
    header nav ul li:first-child{
        display:block;
        position: absolute;
        top:.3em;
        right:.75em;
        margin-top: -37px;
      } 
    
    header nav .slideDown {
        height: 8em;
        width: 100%;
        margin-top: -15px;
      }
    
    header nav ul{
        height:0;
        transition:height 1s;
        overflow: hidden;
        display: inline-block;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: -15px;
      }
    
    header nav ul li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        text-align: center;
      }  

    #home-hero h1 {
        font-family: Laatz;
        font-size: 120px;
        margin: -10px;
        color: white;
        line-height: 0.9;
        -webkit-font-smoothing: antialiased;
    }
    
    #home-hero h2 {
        color: white;
        font-weight: 200;
        margin-top: -10px;
        margin-left: 10%;
        margin-right: 10%;
        -webkit-font-smoothing: antialiased;
    }  

    #home-container {
        height: 600px;
    }

    #contact-container {
        height: 600px;
    }

    #about-container {
        display: flex;
        flex-direction: column;
        height: 600px;
        text-align: center;
        background-image: url(../images/hero-about.jpg);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }

    .row1 #left-img {
        margin-top: 10px;
    }

    .hero-chocolate{
        height: 600px;
      }

    .hero-text {
        font-size: 50px;
        line-height: 1.1;
        margin-left: 5%;
      }

    #filter {
        display: flex;
        width: 92%;
        margin: auto;
    }
    
    #recipies {
        width: 95%;
    }

    article {
        width: 47.25%;
        }
    
    #main .container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    #method {
        width: 100%;
        padding-left: 5%;
        padding-top: 30px;
        background-color: white;
        padding-right: 50px;
    }
    
    #ingredients {
        flex-direction: row;
        width: 100%;
        padding-left: 5%;
        padding-top: 30px;
        flex-wrap: wrap;
    }

    .content {
        width: 90%;
    }

    h2 {
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.3;
        padding-top: 10px;
        color: #a59563;
        padding-bottom: 15px;
    }

    h3 {
        font-size: 1.4em;
    }

    #right-text {
        padding-left: 4%;
        padding-right: 4%;
        width: 60%;
        align-items: center;
    }
    
    #left-text {
        padding-left: 4%;
        padding-right: 4%;
        width: 60%;
        align-items: center;
    }

    .row1 {
        padding-top: 20px;
    } 

    #left-img {
        width: 40%;
    }
    
    #right-img {
        width: 40%;
    }

    #footer-links {
        height: auto;
        background-color: #252225;
        text-align: center;
        font-weight: 200;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #footer-links ul {
        font-weight: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        padding-top: 20px;
    }

    /* .content {
        display: flex;
        flex-direction: column;
    } */

    .icon {
        float: none;
        margin: auto;
        width: 100%;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;

    }

    .message {
        width: 100%;
        float: none;
    }

}   

/* INBETWEEN DESKTOP & MOB FOR INDEX PAGE ONLY*/
@media (max-width: 764px) {
    #recipies {
        width: 95%;
    }

    article {
        width: 100%;
    }  

    #filter {
        display: flex;
        flex-direction: column;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    h3 {
        padding-bottom: 10px;
    }

    #filter button {
        height: 50px;
    }

}

/* MOBILE*/
@media (max-width: 670px) {
    #home-hero h1 {
        font-family: Laatz;
        font-size: 70px;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-font-smoothing: antialiased;
    }

    #home-hero h2 {
        color: white;
        font-size: 30px;
        font-weight: 200;
        margin-top: -10px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-font-smoothing: antialiased;
    }  

    h3 {
        font-size: 25px;
    }

    #home-hero button {
        display: none;
    }

    #recipies {
        width: 95%;
    }

    article {
        width: 100%;
        }  

    .hero-chocolate{
        height: 500px;
      }

    .hero-text h6 {
        width: 100%;
        display: block;
      }   

     /* ABOUT PAGE */
     .row1 {
        flex-direction: column-reverse;
        padding-top: 20px;
        margin-bottom: 10px;
    } 

   .row2, .row3, .row5 {
        flex-direction: column;
        margin-bottom: 0px;
    } 

   .row4, .row6 {
        flex-direction: column-reverse;
        margin-bottom: 0px;
    } 
    
    #right-text {
        padding-left: 0px;
        padding-right: 0%;
        width: 90%;
        align-items: center;
    }
    
    #left-text {
        padding-left: 0%;
        padding-right: 0%;
        width: 90%;
        align-items: center;
    }

    #right-img {
        width: 100%;
        text-align: right;
    }

    #left-img {
        width: 100%;
        text-align: left;
    }

    .row1 #left-img {
        margin-top: 0px;
    }

    .row6 #left-img {
        margin-top: 0px;
    }

    .row1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .row2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .row3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .row4 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .row5 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .row6 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    #footer-logo {
        height: 150px;
        padding-top: 10px;
        background-color: #322e30;
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: Laatz;
        font-size: 49px;
        color: white;
        -webkit-font-smoothing: antialiased;
    }

}      